<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    
    
    <servlet>
        <servlet-name>auth</servlet-name>
        <servlet-class>com.intelligentz.appointmentz.controllers.authenticate</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>auth</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>reg</servlet-name>
        <servlet-class>com.intelligentz.appointmentz.controllers.register</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>reg</servlet-name>
        <url-pattern>/reg</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>home.jsp</servlet-name>
        <jsp-file>/home.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>home.jsp</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>index.jsp</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>index.jsp</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addBerry</servlet-name>
        <servlet-class>com.intelligentz.appointmentz.controllers.addBerry</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addBerry</servlet-name>
        <url-pattern>/addBerry</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editBerry</servlet-name>
        <servlet-class>com.intelligentz.appointmentz.controllers.editBerry</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editBerry</servlet-name>
        <url-pattern>/editBerry</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addR</servlet-name>
        <servlet-class>com.intelligentz.appointmentz.controllers.addR</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addR</servlet-name>
        <url-pattern>/addR</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>deleteRPI</servlet-name>
        <servlet-class>com.intelligentz.appointmentz.controllers.deleteRPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteRPI</servlet-name>
        <url-pattern>/deleteRPI</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>deleteRoom</servlet-name>
        <servlet-class>com.intelligentz.appointmentz.controllers.deleteRoom</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteRoom</servlet-name>
        <url-pattern>/deleteRoom</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.intelligentz.appointmentz.controllers.logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addRPI.jsp</servlet-name>
        <jsp-file>/addRPI.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>addRPI.jsp</servlet-name>
        <url-pattern>/addRPI</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addRoom.jsp</servlet-name>
        <jsp-file>/addRoom.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>addRoom.jsp</servlet-name>
        <url-pattern>/addRoom</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>editRPI.jsp</servlet-name>
        <jsp-file>/editRPI.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>editRPI.jsp</servlet-name>
        <url-pattern>/editRPI</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>equipments.jsp</servlet-name>
        <jsp-file>/equipments.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>equipments.jsp</servlet-name>
        <url-pattern>/equipments</url-pattern>
    </servlet-mapping>
    
</web-app>